@charset "UTF-8";
@mixin position($type: relative, $t: auto, $r: auto, $b: auto, $l: auto, $z: 1) {
  position: $type;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  z-index: $z;
}
body {
  margin: 0;
  padding: 0;
}